a {
  text-decoration: none;
  color: inherit;
}
.image-detail-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.detail-img {
  width: 100%;
}

.detail-container ul li {
  margin-left: 2rem;
}
