.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-width: 450px;
  min-width: 220px;
}

form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: 2rem;
  padding-left: 0.5rem;
}

form button {
  margin-top: 1rem;
  line-height: 1.5rem;
  color: var(--primary-text-color);
  background: var(--success-btn);
  border: 1px solid var(--success-btn-border);
  border-radius: 2px;
}

form button:hover {
  cursor: pointer;
  color: var(--success-btn);
  background: var(--primary-text-color);
}
